.yct-check-test-result-form-wrap {
    margin: 20px 0;
}

.yct-check-test-result-form-wrap h3,
#primary .yct-check-test-result-form-wrap h3 {
    font-size: 16.5px;
    color: #3a3a3a;
    font-weight: bold;
    margin-bottom: 10px;
}

.yct-check-test-result-form-wrap input {
    margin-bottom: 15px;
}

.yct-check-test-result-form-wrap .ytc-error {
    color: #f00;
    font-size: 12px;
    margin-bottom: 5px;
}

.yct-check-test-result-form-wrap button[disabled] {
    background: #cecece;
	border: none;
	color: #ffffff;
}